<h1>Bienvenue ! </h1>
<p>
    Ici c'est notre super site de potins, il est chouette, non ? </br></br>
    <% id = 1 %>
    <% Gossip.all.each do |potin| %>
        <%= "Potin n° #{id}" %></br>
        <%= potin.user.first_name %></br>
        <%= link_to "#{potin.title}", gossip_number_path(potin.id) %></br></br>
        <% id += 1 %>
    <% end %>
    
    
    
    
</p>
